*.aux
*.auxlock
*.bak
*.bbl
*.blg
*.brf
*.dep
*.dvi
*.gz
*.idx
*.ilg
*.ind
*.loa
*.lof
*.log
*.lot
*.mat
*.nav
*.out
*.pdf
*.pdfsync
*.ps
*.snm
*.spl
*.thm
*.toc
log
*/log
*.foam
*/*.foam
.DS_Store
*/constant/polyMesh
*/post*
*/pressurebased
